<div class="card mb-4 col-md-8 mx-auto">
    <div class="card-header">
        <h3>Customers</h3>
    </div>
    <div class="card-body">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">Email</th>
                    <th scope="col">Phone Number</th>
                    <th scope="col">First Name</th>
                    <th scope="col">Last Name</th>
                    <th scope="col">Password</th>
                    <th scope="col">Manage</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var customer in ViewBag.CustomerList)
                {
                    <tr>
                        <td>@customer.Email</td>
                        <td>@customer.PhoneNumber</td>
                        <td>@customer.FirstName</td>
                        <td>@customer.LastName</td>
                        <td>@customer.RealPassword</td>
                        <td>
                            <a class="btn btn-primary btn-sm" asp-controller="Admin" asp-action="Edit" asp-route-id="@customer.Id">Edit</a> |
                            <a class="btn btn-danger btn-sm" asp-controller="Admin" asp-action="Delete" asp-route-id="@customer.Id" onclick="return confirm('Are you sure you want to delete this?');">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <a class="btn btn-primary m-3" asp-area="" asp-controller="Admin" asp-action="CreateAdmin">Create User</a>
    </div>
</div>

<div class="card col-md-8 mx-auto">
    <div class="card-header">
        <h3 class="mb-0">Admins</h3>
    </div>
    <div class="card-body">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">Email</th>
                    <th scope="col">Phone Number</th>
                    <th scope="col">First Name</th>
                    <th scope="col">Last Name</th>
                    <th scope="col">Password</th>
                    @* <th scope="col">Manage</th> *@
                </tr>
            </thead>
            <tbody>
                @foreach (var Admin in ViewBag.AdminList)
                {
                    <tr>
                        <td>@Admin.Email</td>
                        <td>@Admin.PhoneNumber</td>
                        <td>@Admin.FirstName</td>
                        <td>@Admin.LastName</td>
                        <td>@Admin.RealPassword</td>
                        @* <td>
                    <a class="btn btn-primary btn-sm" asp-area="" asp-controller="Admin" asp-action="Edit" asp-route-id="@Admin.Id">Edit</a> |
                    <a class="btn btn-danger btn-sm" asp-area="" asp-controller="Admin" asp-action="Delete" asp-route-id="@Admin.Id" onclick="return confirm('Are you sure you want to delete this?');">Delete</a>
                    </td> *@
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>


